
body {
  font-family: sans-serif;
  background-color:;
}

h1 {
  font-size: 18px;
  font-family: inherit;
}

h2 {
  font-size: 20px;
  font-family: inherit;
}

h3 {
  font-size: 20px;
  font-family: inherit;
}
h4 {
  font-size: 20px;
  font-family: inherit;
}
h5 {
  font-size: 20px;
  font-family: inherit;
}


@media screen and (max-width:959px){
  #container{
    width: 100%;
 }
 #column1{ 
  width: 70%;
 }
 #column2{
  width: 30%;
 }
 img{
  width: 100%;
 }
}
@media screen and (max-width:640px){
  #column1{
    width: 640%;
  }
  #column2{
    width: 640%;
  }
  img{
    width: 640px;
  }
}
@media  (max-width:320px){
  #container{
    width: 320px;
  }
  #column1{
    width: 320px;
  }
  #column2{
    width: 320px;
  }
  img{
    width: 320px;
  }
  .logo img{
    width: 320px;
  }

}
/*media queries end*/

